{%extends "layout.html"%}


{%block content%}
<div class="contenedor-about-primero">
    <div class="contenedor-text">
        <h1>ServiTec</h1>
        <p>Somos jóvenes expertos en reparación de computadoras, actualizados en tecnología y herramientas. Resolvemos
            problemas técnicos complejos y ofrecemos un servicio excepcional.</p>
    </div>
    <div class="contenedor-clippy">
        <img src="{{ url_for('static', filename='imagenes/mario.png') }}" alt="">
    </div>
</div>


{%endblock%}