
{%extends "layout.html"%}


{%block content%}
<div class="contenedor-decoracion">
    <div class="texto">
        <h1>ServiTec</h1>

        <p>Deja tus problemas técnicos de computadora en manos de nuestros expertos. Rápido, efectivo y
            excepcional servicio de reparación.</p>
            <a href="about">Servicios</a>
    </div>
    <div class="imagen">
        <img src="{{ url_for('static', filename='imagenes/pc fondo blanco.png') }}" alt="">
    </div>
</div>
{%endblock%}

        